/***  ROOT  ***/
:root {
    /* Colors */
    --accent-color-brass: #bfa14f;
    --accent-color-vanila: #d8d1c1;
    --accent-color-peacock: #4b7174;
    --accent-color-dark-blue: #211e3d;
    --accent-color-cream: #efe9dc;
    --
    /* Typefaces */
    --display-font: 'CHICAGO moonshine demo', cursive;
    --title-font: 'Elsie','Elsie Swash Caps', cursive;
    --text-font: 'Montserrat', sans-serif;
    --src: url(../fonts/chicagomoonshinedemo-Regular.ttf),
}

h1{
    font-family:  var(--display-font);
    font-size: 60px;
    font-weight: 100;
}