/***  ROOT  ***/
:root {
    /* Colors */
    --accent-color-brass: #bfa14f;
    --accent-color-vanila: #d8d1c1;
    --accent-color-peacock: #4b7174;
    --accent-color-dark-blue: #211e3d;
    --accent-color-cream: #efe9dc;
    --accent-color-black: #000000;
    /* Typefaces */
    --display-font: 'CHICAGO moonshine demo', serif;
    --title-font: 'Elsie','Elsie Swash Caps', serif;
    --text-font: 'Montserrat', sans-serif;
    --src: url(../fonts/chicagomoonshinedemo-Regular.ttf);
    --font-size-small: 10px;
    --font-size-title: 20px;
    --font-size-text1: 16px;
    --font-size-body-text: 14px;
}


/*** GENERAL STYLE ***/
* {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    margin: 0;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.current{
    opacity: 0.4;
}
.dark-blue-titles{
    font-family: var(--title-font);
    font-size: var(--font-size-title);
    color: var(--accent-color-dark-blue);
    font-weight: 100;
}
.dark-blue-text{
    font-family: var(--text-font);
    font-size: var(--font-size-body-text);
    color: var(--accent-color-dark-blue);
}
.dark-blue-text-serif{
    font-family: var(--title-font);
    font-size: var(--font-size-body-text);
    color: var(--accent-color-dark-blue);
}
.p-events-vanilla{
    text-align: right;
    font-family: var(--title-font);
    color: var(--accent-color-vanila);
    font-size: var(--font-size-text1);
    padding: 8px;
}
.title-yellow{
    font-family: var(--title-font);
    font-size: var(--font-size-title);
    color: var(--accent-color-brass);
    font-weight: 100;
}
.p-blue-serif{
    font-family: var(--title-font);
    font-size: var(--font-size-text1);
    color: var(--accent-color-peacock);
    font-weight: 100;
}
.p-text-blue{
    font-family: var(--text-font);
    font-size: var(--font-size-body-text);
    color: var(--accent-color-peacock);
}
.link-text{
    font-family: var(--text-font);
    font-size: var(--font-size-body-text);
    color: var(--accent-color-brass);
}



/*** BACKGROUND ***/
.back{
    background: url("../images/jazz-background.svg") repeat;
    background-size: cover;
    height: 500px;
}


/*** HEADER HOMEPAGE***/
header{
    display: grid;
    grid-template-columns: auto 1fr auto;
    height: 128px;
    background-color: var(--accent-color-vanila);
    position: fixed;
}
header .huset-h{
    grid-column: 1/2;
    height: 68px;
    width: 68px;
    align-self: center;
    margin: 0 0 0 30px;
}
header h1{
    grid-column: 2/3;
    font-family:  var(--display-font);
    font-size: 50px;
    font-weight: 100;
    align-self: center;
    padding: 0 10px 10px 10px;
}
header .login-icon{
    grid-column: 3/4;
    align-self: center;
    padding: 0 30px 0 20px;
}
header .login-icon img{
    height: 20px;
    width: 10px;
}


/*** HEADER SUBPAGES***/
.header-subpage{
    height: 80px;

}
.header-subpage .huset-h{
    height: 41px;
    margin: 0 0 0 20px;
}
.header-subpage h1{
    font-size: 35px;
    padding: 0 10px 5px 0;
}



/*** MAIN HOMEPAGE***/
#main-home{
    padding: 170px 10% 150px 10%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-gap: 7%;
}
.btn-grid{
    display: grid;
    grid-template-rows: 1fr;
}
.btn-grid span{
    grid-row: 1/2;
    grid-column: 1/2;
    text-align: center;
    align-self: flex-end;
    padding-bottom: 5%;
    font-family: var(--display-font);
    color: var(--accent-color-vanila);
    font-size: var(--font-size-title);
}
.btn-grid img{
    grid-row: 1/2;
    grid-column: 1/2;
    border: solid var(--accent-color-brass);
    border-radius: 15px;
    overflow: hidden;
}


/*** MAIN EVENTS PAGE***/
main{
    padding-top: 80px;
}
h2{
    font-family: var(--display-font);
    font-size: var(--font-size-title);
    color: var(--accent-color-peacock);
    text-align: center;
    padding: 30px 0 50px 0;
}
#each-event{
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 30px 90px 30px;
    grid-gap: 50px;
}
#each-event a{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
}
#each-event a img{
    grid-column: 1/-1;
    grid-row: 1/-1;
}
#each-event a .date{
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: flex-start;
}
#each-event a .hour{
    grid-column: 3/4;
    grid-row: 1/2;
    align-self: flex-start;
}

#each-event a div{
    grid-column: 1/4;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: rgba(255, 255, 255, 0.9);
    height: 30px;
    align-self: center;
}
#each-event a div h3, #each-event a div p{
    align-self: center;
    padding-left: 10px;
}



/*** MAIN EVENT-DETAIL PAGE***/

/*image and title*/
.detail-article .grid-art-img{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr;
}

.detail-article .artist-title{
    text-align: left;
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 5px 0 5px 20px;
    margin-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.9);
    align-self: center;
}
.detail-article .feature-img{
    grid-column: 1/2;
    grid-row: 1/3;
}
/*main info grid*/
.detail-article .main-info-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    padding: 5px 20px 40px 20px;
}
.detail-article .date{
    grid-column: 1/2;
    grid-row: 1/2;
    padding-left: 0;
}
.detail-article .hour{
    grid-column: 1/3;
    grid-row: 1/2;
    padding-left: 0;
    text-align: center;
}
.detail-article .door-hour{
    grid-column: 1/3;
    grid-row: 2/3;
    padding-left: 0;
}
.detail-article .venue{
    grid-column: 3/4;
    grid-row: 1/3;
    text-align: right;
    align-self: center;
}
/*button buy ticket*/
.detail-article .buy-ticket{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.btn-style{
    font-family: var(--title-font);
    font-size: var(--font-size-text1);
    color: var(--accent-color-brass);
    border: solid var(--accent-color-brass);
    border-radius: 8px;
    background-color: transparent;
    padding: 5px 0 5px 0;
    width:230px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}
/*price detail*/
.detail-article .price-grid{
    display:grid;
    grid-template: 1fr 1fr/ 1fr;
}
.detail-article .price-grid .o-price, .detail-article .price-grid .free{
    text-align: center;
    padding: 10px 0 0 0;
}
.detail-article .price-grid .d-price{
    text-align: center;
}
.detail-article .price-grid .access{
    text-align: left;
    padding: 30px 20px 5px 20px;
}
/*event description*/
.detail-article .desc-grid{
    background-color: var(--accent-color-cream);
    display: grid;
}
.detail-article .desc-grid h3{
    text-align: center;
    padding: 20px 0 30px 0;
}
.detail-article .desc-grid p{
    text-align: left;
    padding: 0 10px 20px 10px;
}
/*artists biography*/
.art-bio-grid{
    display: grid;
    padding: 20px 20px 0 20px;
}
.art-bio-grid h3{
    text-align: center;
    padding: 20px 0 10px 0;
}
.art-bio-grid .art-names,.art-bio-grid .apply-jam{
    text-align: center;
    padding: 0 0 20px 0;
}
.art-bio-grid .small-bio{
    padding: 0 0 30px 0;
}
.art-bio-grid .small-bio p{
    padding-bottom: 10px;
}
.art-bio-grid .small-bio p a{
    text-decoration: none;
    text-align: center;
}

/*artist social media*/
.social-media-grid{
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr;
    background-color: var(--accent-color-cream);
    padding: 20px 0 20px 0;
}
.social-media-grid .website{
    grid-column: 1/3;
    grid-row: 1/2;
    display: grid;
    grid-template: 1fr/ 30px auto;
    justify-content: center;
}
.social-media-grid .link-face{
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: right;
}
.social-media-grid .link-inst{
    grid-column: 2/3;
    grid-row: 2/3;
}
.social-media-grid img{
    width: 20px;
    height: 20px;
    margin: 0 5px 0 5px;
}
/*artist album*/
.album-grid{
    display: grid;
    grid-template: 1fr/1fr;
    padding: 30px 20px 90px 20px;
}
.album-grid h3{
    text-align: center;
    padding-bottom: 20px;
}


/*** MAIN VENUES PAGE***/
#grid-venues{
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 20px 0 20px;
    grid-gap: 30px;
}
#grid-venues .detail-venue{
    display: grid;
    grid-template: 1fr/ 1fr;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}
#grid-venues .detail-venue img{
    grid-column: 1/2;
    grid-row: 1/2;
    border: solid var(--accent-color-brass);
    border-radius: 15px;
}
#grid-venues .detail-venue h3{
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: flex-end;
    text-align: center;
    font-family: var(--title-font);
    font-size: var(--font-size-title);
    color: var(--accent-color-vanila);
    font-weight: 100;
    z-index: 1;
    padding-bottom: 20px;
}


/*** MAIN VENUE DETAIL***/

/*venue main info*/
.venue-main-info{
    display: grid;
    grid-template: repeat(5, auto)/ 1fr;
}
.venue-main-info h2{
    padding: 10px 20px 3px 20px;
    text-align: left;
}
.venue-main-info h3{
    padding: 0 20px 30px 20px;
}
.venue-main-info .venue-text{
    padding: 0 20px 30px 20px;
}
/*venue book contact*/
.book-grid{
    display: grid;
    grid-template: repeat(4, auto)/ 1fr;
    background-color: var(--accent-color-cream);
    padding-bottom: 20px;
}
.book-grid h3{
    text-align: center;
    padding: 20px 0 20px 0;
}
.book-grid .grid-EO{
    display: grid;
    grid-template: 1fr/ 30px auto;
    justify-content: center;
    padding: 5px 0 5px 0;
}
.book-grid .grid-EO img{
    width: 20px;
}
/*venue room and tech detail*/
.grid-r-detail{
    display: grid;
    grid-template: auto 1fr/ 1fr;
    padding-bottom: 20px;
}
.grid-r-detail h3{
    text-align: center;
    padding: 30px 0 20px 0;
}
.grid-r-detail ul li{
    padding: 3px 20px 3px 20px;
}
.tech-box{
    background-color: var(--accent-color-cream);
    padding-bottom: 80px;
}
.tech-box ul .grid-li{
    display: grid;
    grid-template: 1fr/1fr 2fr;
    padding: 10px 20px 10px 20px;
}


/*** JAM SESSIONS PAGE***/

/*jam main image title*/
.jam-title-grid{
    display: grid;
    grid-template: 1fr/1fr;
    position: fixed;
}
.jam-title-grid img{
    grid-column: 1/2;
    grid-row: 1/2;
    opacity: 0.9;
}
.jam-title-grid h2{
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: flex-end;
    z-index: 1;
    color: var(--accent-color-vanila);
    padding: 0 0 20px 0;
}
/*jam main description*/
.jam-info-grid{
    display: grid;
    background-color: var(--accent-color-cream);
    padding: 20px 20px 20px 20px;
    margin-top: 160px;
}
/*jam sessions grid*/
.jam-session{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    padding: 30px 20px 90px 20px;
}
.jam-session article{
    display: grid;
    grid-template: 1fr 1fr 1fr/ 1fr 1fr;
}
.jam-session article .jam-place-hour{
    grid-column: 1/3;
    grid-row: 1/2;
    display: grid;
    grid-template: 1fr/ 1fr 1fr 1fr;
    background-color: var(--accent-color-cream);
    border: solid var(--accent-color-brass);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    padding: 10px 10px 10px 10px;
}
.jam-session article .jam-place-hour h3{
    align-self: center;
}
.jam-session article .jam-place-hour p{
    text-align: right;
}
.jam-session article .artists-box{
    background-color: white;
    border: solid 0.2px darkgray;
    align-self: center;
    justify-self: center;
    padding: 15px 0 15px 0;
    text-align: center;
}
.jam-session article img{
    width: 14px;
}


/*** ABOUT HUSET PAGE***/
.main-about-page{
    padding-bottom: 58px;
}

/*main about info*/
#about .main-about-grid{
    display: grid;
    grid-template: auto auto auto/ 1fr;
}
#about .main-about-grid h2{
    padding-bottom: 20px;
}
#about .main-about-grid p{
    padding: 0 20px 40px 20px;
}
/*official web huset*/
.official-web-grid{
    display: grid;
    grid-template: 1fr 1fr/ 1fr;
    background-color: var(--accent-color-cream);
    padding: 20px 0 30px 0;
}
.official-web-grid .btn{
    font-family: var(--title-font);
    font-size: var(--font-size-text1);
    color: var(--accent-color-brass);
    border: solid var(--accent-color-brass);
    border-radius: 8px;
    background-color: white;
    padding: 5px 0 5px 0;
    width:230px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}
.official-web-grid p{
    text-align: center;
}
.official-web-grid a{
    text-align: center;
}
#about h3{
    text-align: center;
    padding: 30px 0 30px 0;
}
/*artists info*/
.artist-info-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, auto);
    padding: 0 20px 50px 20px;
}
.artist-info-grid p{
    padding: 0 0 5px 0;
}

.artist-info-grid h4{
    padding: 25px 0 7px 0;
}
.artist-info-grid a{
    padding: 0 0 10px 0;
}
/*contacts grid*/
#contacts{
    display: grid;
    grid-template: auto auto auto/1fr;
    padding: 0 20px 40px 20px;
}
#contacts h3{
    font-weight:bolder;
    padding: 20px 0 5px 0;
}
#contacts ul li{
    padding: 2px 0 2px 0;
}

/*** MAIN LOGIN PAGE ***/
.login-grid{
    display: grid;
    padding: 80px  30px 90px 30px;
}
.login-grid h2{
    padding-bottom: 5px;
}
.login-grid h3{
    padding-bottom: 20px;
    text-align: center;
    font-weight: 100;
}
.input-grid{
    display: grid;
    grid-template: 1fr/30px auto;
    padding: 20px 0 20px 0;
}
.input-style{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--accent-color-peacock);
    padding: 10px;
}
.login-grid img{
    width: 20px;
    padding: 0 0 0 0;
    align-self: center;
}
.grid-submit{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    justify-content: center;
    padding: 20px 0 0 0;
    text-align: center;
}
.grid-submit label{
    display: grid;
    grid-template: 1fr/ auto auto;
    text-align: left;
    padding: 5px 0 10px 0;
}
.grid-submit label input{
    border: solid 5px black;
    justify-self: left;
    align-self: center;
}
.login-grid button{
    padding: 15px 0 15px 0;
    width: 150px;
    justify-self: center;
}
.grid-submit .cancel-btn{
    padding: 10px 0 10px 0;
    width: 100px;
    color: var(--accent-color-peacock);
    border-color: var(--accent-color-peacock);
    justify-self: center;
}



/*** ASIDE NAV All PAGES***/
aside{
    bottom: 0;
    position: fixed;
    background-color: var(--accent-color-vanila);
    height: 56px;
}
nav{
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    margin: 8px 0 8px 0;
}
nav a img{
    height: 25px;
}
nav a{
    text-decoration: none;
    font-family: var(--text-font);
    color: var(--accent-color-black);
    font-size: var(--font-size-small);
    text-align: center;
}



